@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 transparent;
  overflow-x: hidden;
  background-color: #e7e6e1;
  color: #3c3c3b;
}

@font-face {
  font-family: "Steagal";
  src: url("/fonts/Steagal.otf") format("opentype");
}
@font-face {
  font-family: "Sang";
  src: url("/fonts/SangBleuKingdom-Regular.otf") format("opentype");
}

.font-ste {
  font-family: "Steagal", sans-serif;
  line-height: 2;
}

.font-sang {
  font-family: "Sang", sans-serif;
}

.placeholder-black::placeholder {
  color: black;
}

#mobile{
  display : none;
  z-index: 50;
}

#desktop{
  display : block;
}



.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: white;
  position: relative;
  margin: auto;
  padding: 20px;
  outline: none;
  z-index: 1000;
  width: 70%;
}

.videContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: "200px";
}

.videContainer>iframe{
  height: 500px;
  width: 80%;
  border-radius: 10px;
  box-shadow:8px 8px 10px rgba(0, 0, 0, 0.5);
}

.gallery-box{
  height: auto;
  margin-bottom: 1rem;
  border-radius: 1%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.5s ease-in-out;
  filter: brightness(70%);
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.gallery-box:hover {
  filter: brightness(100%);
}

@media screen and (max-width: 678px){
  #mobile{
   display: block;
  }
  #desktop{
   display : none;
 }
 .videContainer{
   width: 350px;
 }
}